.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

<<<<<<< HEAD
.modal {
  display:block;/* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
=======
/* [Preguntas diarias] ============================================= */
#pdLista {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pdLista table {
  margin: 0 auto;
  border: none;
  padding: 0 10px;
  border-spacing: 0 10px;
  
  background-color: rgba(0, 0, 0, .3);
}

#pdLista table tr td {
  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  padding: 8px 10px;
  
  background-color: rgb(230, 230, 230);
}

#pdLista table tr td:nth-child(1) {
  padding-left: 4px;
  padding-right: 4px;
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  border-left: 2px solid rgba(0, 0, 0, .3);
}

#pdLista table tr td:nth-child(2) {
  width: 200px;
  
  text-align: left;
  padding-left: 25px;
  
  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
}

#pdLista table tr td:nth-child(3),
#pdLista table tr td:nth-child(4) {
  width: 100px;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  border-right: 2px solid rgba(255, 255, 255, .3);
}

#pdLista table tr td:nth-child(4):hover {
  cursor: pointer;
  
  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  border-right: 2px solid rgba(255, 255, 255, .3);
  
  background-color: rgb(230, 230, 230) !important;;
  color: black !important;;
}

#pdLista table tr td:nth-child(3).correcta {
  color: rgb(25, 200, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(3).incorrecta {
  color: rgb(200, 25, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(4) {
  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-right: 2px solid rgba(0, 0, 0, .3);
}

/* [Fin preguntas diarias] ============================================= */





>>>>>>> 4784c4c4afd81d00ddd30141f5c3560aa7767c73
