body{
  background-color: rgba(66, 160, 255, 0.85);
  font-family: Helvetica;
}

.modal {
  display:block;/* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


/* [Menu Inicial] ============================================= */

#menuInicial {
    cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 15px;
  text-align: center;
}

#menuInicial > div {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

#menuInicial > div > a {
  font-size: 25px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px 35px 5px 35px;
  margin: 0 .5px;
  display: inline-block;
  background-color: white;
  
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#menuInicial > div > a:hover,
#menuInicial > div > a.activo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(66, 160, 255, 1);
  color: white;
  border-top: 5px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.padre {
  text-align: center;
}

.contenedor {
  display: inline-block;
}

/* [Fin Menu Inicial] ============================================= */