
.App {
  text-align: center;
}

.App-logo { 
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}




/* [Preguntas diarias] ============================================= */
#pdLista {
  cursor: default;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

body {
  background-image: url('fondo2.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;     
  background-attachment: fixed;

  background-color: #073276;
}


@media only screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(to right, #073276, blue, #073276); 
    background-repeat: repeat; 
  }
}

/* [Menu Inicial] ============================================= */

#menuInicial {
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 55px;
  text-align: center;
}

#menuInicial > div {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

#menuInicial > div > a {
  font-size: 25px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 18px 5px 18px;
  margin: 0 .5px;
  display: inline-block;
  background-color: white;
  
  border-left: 1px solid white;
  border-right: 1px solid white;
}

@media only screen and (max-width: 750px) {
  #menuInicial > div > a {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    border-radius: 0;
  }

  #menuInicial > div > a:nth-child(1),
  #menuInicial > div > a:nth-child(2) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #menuInicial > div > a:nth-child(3),
  #menuInicial > div > a:nth-child(4),
  #menuInicial > div > a:nth-child(3).activo,
  #menuInicial > div > a:nth-child(4).activo,
  #menuInicial > div > a:nth-child(3):hover,
  #menuInicial > div > a:nth-child(4):hover {
    border: 1px solid white;
    border-bottom: none;
    border-top: 1px solid rgba(66, 160, 255, 1);
  }

  #menuInicial > div > a:nth-child(3):hover,
  #menuInicial > div > a:nth-child(4):hover {
    border-top: 1px solid white;
  }
}

@media only screen and (max-width: 500px) {
  #menuInicial > div > a {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border-radius: 0 !important;
  }

  #menuInicial > div > a:nth-child(1) {
  }

  #menuInicial > div > a:nth-child(2),
  #menuInicial > div > a:nth-child(3),
  #menuInicial > div > a:nth-child(4),
  #menuInicial > div > a:nth-child(2).activo,
  #menuInicial > div > a:nth-child(3).activo,
  #menuInicial > div > a:nth-child(4).activo,
  #menuInicial > div > a:nth-child(2):hover,
  #menuInicial > div > a:nth-child(3):hover,
  #menuInicial > div > a:nth-child(4):hover {
    border: 1px solid white;
    border-bottom: none;
    border-top: 1px solid rgba(66, 160, 255, 1);
  }

  #menuInicial > div > a:nth-child(2):hover,
  #menuInicial > div > a:nth-child(3):hover,
  #menuInicial > div > a:nth-child(4):hover {
    border-top: 1px solid white;
  }
}

#menuInicial > div > a:hover,
#menuInicial > div > a.activo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(66, 160, 255, 1);
  color: white;
  border-top: 5px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.padre {
  text-align: center;
}

.contenedor2,
.contenedor {
  display: inline-block;
}
.contenedor2 {
  width: 50%;

  margin-top: 30px;
}

#pdLista table tr td:nth-child(3).correcta {
  color: rgb(25, 200, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(3).incorrecta {
  color: rgb(200, 25, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(4) {
  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-right: 2px solid rgba(0, 0, 0, .3);
}

/* [Fin preguntas diarias] ============================================= */

.menu-admin .suscripciones {
  width: 350px;
  float: left;
  background-color: rgba(1, 1, 1, .5);
  color: white;
}

.menu-admin .preguntas {
  width: calc(calc(100% - 350px) - 65px);
  background-color: rgba(1, 1, 1, .5);
  color: white;
}

@media only screen and (max-width: 900px) {
  .menu-admin .suscripciones {
    width: calc(100% - 40px);
  }

  .menu-admin .preguntas {
    width: calc(100% - 40px);
    margin-top: -20px;
  }
}