/*[Header] =================================================================*/

@font-face {
  font-family: Trivia;
  src: url(/static/media/fofbb_reg.b3a0f215.otf);
}

:root{
  --altura: 35px;
  --img: 35px;
  --logo: 184px;
}

header{
  background-color: rgba(0,0,0,.9);
  border-radius: 0;
  position: relative;
  text-align: center;
  width: 100%;
  min-width: 350px;
  height: var(--altura);
  font-family: Helvetica;
  transition-property: height;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

header .header-titulo{
  display: block;
  position: absolute;
  top:1px;
  left:4px;
  height: 100%;
  width:var(--logo);
}

header .header-titulo img{
  display: inline-block;
  border-radius: 5px;
  height: 90%;
  width: var(--logo);
}
header .logueado{
 height:var(--altura);
 width: calc(100% - (var(--logo) + 15px));
 margin-left: calc(var(--logo) + 15px);
 overflow: hidden;
 position: relative;
 border-left:  2px solid rgba(255,255,255,.4);
 border-radius: 4px;
 animation-duration: 1s;
 animation-name: der;
}

@keyframes der {
  from {width: 0}
  to {width: calc(100% - (var(--logo) + 15px))}
}

header .logueado .imagen{
  position: absolute;
  left: 10px;
  top:calc(50% - (--img / 2));
  height: var(--img);
  width: var(--img);
  border-radius: 100%;
}

header .logueado .nombre{
  color:white;
  position: absolute;
  top: calc(50% - 8px);
  left:calc(var(--img) + 15px);
  font-weight: bold;
}

header .logueado .puntuacion{
  color:white;
  position: absolute;
  top: calc(50% - 8px);
  right: 140px;
  font-size: 13px;
  transition-property: top;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  font-weight: 600;
}

header .boton{
 position: absolute;
 right: 4px;
 top:calc(50% - 17px);
 margin: 0;
 border-radius: 5px;
 text-decoration: none;
 color: white;
 padding: 5px;
 font-weight: 600;
 font-size: 14px;
 cursor: pointer;
 transition-property: margin, width, height, background-color;
 transition-timing-function: ease-in;
 transition-duration: .1s;
 border-bottom: 2px solid  rgba(0,0,0,.3);
 border-right: 2px solid rgba(0,0,0,.3);
 border-top: 2px solid rgba(255, 255, 255, 0.3);
 border-left: 2px solid rgba(255, 255, 255, 0.3);
}

header .boton.segundo{
  right: 101px;
}

header .boton.iniciar-sesion{
 background-color: rgb(158, 23, 23);
}

header .boton.iniciar-sesion:hover{
 background-color: rgb(109, 16, 16);
}

header .boton.registrarse{
  background-color: rgb(15, 112, 80);
}
header .boton.registrarse:hover{
 background-color: rgb(7, 96, 67);
}

header .boton.cargando{
  background-color: white;
  color:grey;
  cursor: default;
  font-weight: 100;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 660px) {
    header .header-titulo.log{
      left: calc(50% - (var(--logo) / 2));
    }

    header .logueado{
    position: absolute;
    margin: 0;
    top:var(--altura);
    left:0;
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,.9);
    height: var(--altura);
    width: 100%;
    min-width: 456px;
  } 
}


/*[FIN Header] =================================================================*/