/*[Header] =================================================================*/
header{
  background-color: black;
  height: 50px;
  border-radius: 0;
  position: relative;
  text-align: center;
  width: 100%;
  min-width: 350px;
  transition-property: height;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

.header-nombre{
  color:white;
  position: absolute;
  top: 15px;
  left:60px;
  font-weight: bold;

}

header img{
  position: absolute;
  left: 4px;
  top:5px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.header-puntuacion{
  color:white;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  font-size: 13px;
  transition-property: top;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

header button{
  position: absolute;
  right: 4px;
  top:3px;
  background-color: #2323cee6;
  width:110px;
  height: 40px;
  margin: 2px;
  transition-property: margin, width, height, background-color;
  transition-timing-function: ease-in;
  transition-duration: .1s;
  border-radius: 5px;
  border:none;
  font-weight: bold;
  color: white;
}

header button:hover{
 margin: 0;
 width: 113px;
 height: 43px;
 background-color: #071a6c;
 padding: 0;
}
/*[FIN Header] =================================================================*/