/*[Iniciar sesion formulario] ==========================================================*/
.iniciar_sesion_form{
  padding: 10px 20px;
  background-color: rgba(0,0,0,.7);
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 5px;
  margin: 75px auto;
  width: 30%;
  color:white;
  text-align: right;

}

.iniciar_sesion_form h2{
  text-align:left;
}

.iniciar_sesion_form *{
  border-radius: 5px;
}

.iniciar_sesion_form input{
  width: calc(100% - 10px);
  margin-bottom:8px;
  border: none;
  padding: 7px 3px;
  background-color: rgba(255,255,255.1);
  /*box-shadow: 3px 3px #9f9494*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.iniciar_sesion_form label{
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  display: inline-block;
  text-align: left;
  color: rgba(255,255,255,.8)
}

.iniciar_sesion_form button{
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color:white;
  background-color: rgb(158, 23, 23);
  display: inline-block;
  margin-top:10px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.iniciar_sesion_form button:hover{
 background-color: rgb(109, 16, 16);
}

.iniciar_sesion_form .error{
  color:red;
  width: calc(100% - 10px);
  display: block;
  margin-bottom: 8px;
  background-color: white;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  /*box-shadow: 3px 3px #9f9494;*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

/*FIN [Iniciar sesion formulario] ==========================================================*/
