.mensajeRecibido {
	position: fixed;
	display: block;

	top: -50px;
	right: 10px;

	width: 250px;

	padding: 5px;

	border-radius: 5px;
	border: 1px solid white;

	background-color: rgba(66, 160, 255, 1);

	z-index: 100;

	animation: mensaje .5s forwards;
}

.mensajeRecibido div span {
	font-weight: bold;
}

.mensajeRecibido div span:last-child {
	color: white;
	float: right;
	margin-right: 5px;
	cursor: pointer;

	padding: 0 3px;
	border-radius: 5px;

	background-color: rgba(255, 255, 255, .25);
}

.mensajeRecibido div:last-child {
	margin-top: 5px;
	text-align: left;
}

@keyframes mensaje {
	from {
		top: -50px;
	}
	to {
		top: 100px
	}
}