/* [Pefil] ============================================= */

:root{
	--cont-img:200px;
}

.perfil {
	padding: 20px;
	background-color: rgba(0,0,0,.7);
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 5px;
	margin: 55px auto;
	width: 40%;
	color:white;
}

.contenedor-img{
	width: var(--cont-img);
	height: var(--cont-img);
	overflow: hidden;
	text-align: center;
	position:relative;
	display:block;
	margin: 0 auto;
}

.perfil .contenedor-img img{
	width: 90%;
	height: 90%;
	border-radius: 100%;
}

.perfil .contenedor-img .btnCambiarImg{
	position: absolute;
	bottom: 0;
	left: calc((100% / 2) - 28px);
	text-align: center;
	padding: 3px;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
	color:white;
	background-color: rgb(188, 96, 6);
	display: block;
	width: 50px;
	border-radius: 5px;
	border-bottom: 2px solid  rgba(0,0,0,.3);
	border-right: 2px solid rgba(0,0,0,.3);
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.perfil .contenedor-img .btnCambiarImg:hover{
	background-color: rgb(132, 69, 7);
}

.perfil .contenedor-info{
	width: 80%;
	height: 150px;
	overflow: hidden;
	position: relative;
	background-color: white;
	margin: 20px auto;
	border-radius: 5px;
	padding: 5px;
}


@media only screen and (max-width: 950px) {
	.perfil {
		width: 55%;
	}
}

@media only screen and (max-width: 600px) {
	.perfil b {
		display: block;
	}

	.perfil .contenedor-info {
		width: 90%;
		height: 200px;
	}
}

@media only screen and (max-width: 500px) {
	.perfil {
		width: 80%;
	}

	.perfil .contenedor-info {
		width: 95%;
		height: 200px;
	}
}
.perfil .contenedor-info span{
	display: block;
	color:black;
	margin-top: 10px;
	word-wrap: break-word;
}

.perfil .contenedor-info .nombre{
	display: block;
	color:#3a8dc4;
	margin: 0;
	text-align: center;
	font-size: 24px;
}

.perfil .contenedor-info b{
	color:black;
}

.perfil .contenedor-info .correo{
	text-align: center;
	margin-top:0;
	font-size: 14px;
}

.perfil .contenedor-info .puntuacion{
	margin-top: 15px;
}

.perfil .contenedor-info .tipo{
	position: absolute;
	bottom:5px;
	width: 100%;
	text-align: center;
}


.perfil .cargando{
	display: block;
	text-align: center;
	width: 100px;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px;
	font-weight: 600;
	font-size: 14px;
	background-color: white;
	color:grey;
	cursor: default;
	font-weight: 100;
	border-bottom: 2px solid  rgba(0,0,0,.3);
	border-right: 2px solid rgba(0,0,0,.3);
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.perfil .ocultar{
	display: none;
}

/* ===================================================== */