
/* [Pregunta] ============================================= */

.ContenedorPregunta {
  width: 50%;
  height:100%;
  background: #e4e4e4;
  border: 2px solid #007291;
  border-radius: 3px; 
  margin: 0 auto;

}

.circulo{

  border:2px solid red;
  width: 100px;
  border-radius: 50%;



}

.ContenedorPregunta .pregunta{

  font-size: 1.2em; 

}

.ContenedorPregunta .cabezera{
  border-bottom: 2px solid #007291;
  padding: 10px;

}
.ContenedorPregunta label {
  color:black;
}
.button {
  background-color:  #008CBA;
  color: white;
  border: 2px solid #008CBA; 
  padding: 12px 40px;
  margin-bottom:3px;

}

.button:hover {
  background-color: white; 
  color: black;
}


/* [Fin Preguntas] ============================================= */
.timer{
  padding-bottom: 150px;


}
.texto{
  font-family: monospace;
  font-style: italic;
  font-size: 2em;
  color:white;

}
.contador{
  font-size: 80px;
  font-style: normal;
  font-family: monospace;
  color: white;
  position: absolute;
  left: calc(50% - 20px);
  top: 200px;
}
.imgCrono{
  width: 60px;
  height: 60px;

}
.textoCrono{
  font-family: monospace;
  font-style: italic;
  font-size: 50px;
  color:black;
  position: absolute;
  left: calc(50% - 20px);
  top: 400px;

}

.wrapper {

  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: 200px;
  /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);

}
/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 2.5s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 5s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 2.5s; /* Half animation time */
  -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}