/* [Preguntas diarias] ============================================= */
#pdLista {
  margin: 0 .7px .7px .7px;
  background-color: rgba(66, 160, 255, 1);
  color: white;
  border: 1px solid white;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  padding: 15px 20px;
  color: black;
}

#pdLista table {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-spacing: 0 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: rgba(66, 160, 255, 1);
}

#pdLista table tr td {
  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  padding: 12px 10px;

  background-color: rgb(230, 230, 230);
}

#pdLista table tr td:nth-child(1) {
  padding-left: 8px;
  padding-right: 8px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-left: 2px solid rgba(0, 0, 0, .3);
}

#pdLista table tr td:nth-child(2) {
  width: 100%;

  text-align: left;
  padding-left: 35px;

  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
}

#pdLista table tr td:nth-child(3),
#pdLista table tr td:nth-child(4) {
  width: 100px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border-right: 2px solid rgba(255, 255, 255, .3);
}

#pdLista table tr td:nth-child(4):hover {
  cursor: pointer;

  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  border-right: 2px solid rgba(255, 255, 255, .3);

  background-color: rgb(230, 230, 230) !important;;
  color: black !important;;
}

#pdLista table tr td:nth-child(3).correcta {
  color: rgb(25, 200, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(3).incorrecta {
  color: rgb(200, 25, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(4) {
  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-right: 2px solid rgba(0, 0, 0, .3);
}

/* [Fin preguntas diarias] ============================================= */