/* [Preguntas diarias] ============================================= */
#pdLista {
  margin: 20px 120px .7px 120px;
  background-color: rgba(66, 160, 255, 1);
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  padding: 15px 25px;
  color: black;
  -webkit-box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
  
}

#pdLista table {
  width: 90%;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  border-spacing: 0 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: rgba(66, 160, 255, 1);
}

#pdLista table tr td {
  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  padding: 12px 10px;
  background-color: rgb(230, 230, 230);
  
  -webkit-box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
}

#pdLista table tr td:nth-child(1) {
  width: 20px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-left: 2px solid rgba(0, 0, 0, .3);
}

#pdLista table tr td:nth-child(2) {

  text-align: left;
  padding-left: 35px;

  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
}

#pdLista table tr td:nth-child(3),
#pdLista table tr td:nth-child(4) {
  width: 100px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border-right: 2px solid rgba(255, 255, 255, .3);
}

#pdLista table tr td:nth-child(4):hover {
  cursor: pointer;

  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  border-right: 2px solid rgba(255, 255, 255, .3);

  background-color: rgb(230, 230, 230) !important;;
  color: black !important;;
}

#pdLista table tr td:nth-child(3).correcta {
  color: rgb(25, 200, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(3).incorrecta {
  color: rgb(200, 25, 25);
  font-weight: bold;
}

#pdLista table tr td:nth-child(4) {
  border-top: 2px solid rgba(255, 255, 255, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-right: 2px solid rgba(0, 0, 0, .3);
}

#pdLista .SinSuscripcion{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

#pdLista .SinSuscripcion p{
  font-size: 1.2em;
}

#pdLista .SinSuscripcion button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color:white;
  background-color: rgb(19, 123, 9);
  display: inline-block;
  margin-top:10px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

#pdLista .SinSuscripcion button:disabled{
  background-color: rgb(47, 93, 42);
}

/* [Fin preguntas diarias] ============================================= */