
/* [Preguntas] ============================================= */

.ContenedorPregunta{
  width: 50%;
  height:100%;
  background: #e4e4e4;
  border: 2px solid black;
  border-radius: 3px; 
  margin: 0 auto 30px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.circulo{

  border:2px solid red;
  width: 100px;
  border-radius: 50%;

}
.animacion{
  width: 100px;
  height: 100px;
  background:white;
  opacity:1;
  
}
.animacion:hover{
  opacity: 0;
}

.progress{
  height: 10px;
  content:"";
  width: 100%;
  animation-duration: 15s;
  animation-name: barra;
  animation-timing-function: linear;


}
@keyframes barra {
  100%{background: red;}
  50%  {background: red;}
  40%  {background: orange;}
  0% {background: green;}
  from{
    width: 99%;
  }
  to{
    width: 0%;
  } 
}

.ContenedorPregunta .pregunta{
  font-size: 1.2em; 
  font-weight: bold;
  color: #007291;
}
.contenedorTimer{
  border: 2px solid black;
}
.ContenedorPregunta .cabezera{
  border-bottom: 2px solid black;
  padding: 10px;

}
.ContenedorPregunta label {
  color:black;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid black; 
  border-radius: 4px;
  padding: 10px 35px;
  margin-bottom:5px;
  transition:opacity 1s linear;

}
.volver {
  border: 2px solid black; 
  border-radius: 4px;
  padding: 10px 35px;
  margin: 0 auto;
  background-color: #4CAF50;
  color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.volver:hover{
  background-color: #40C233;
}
.button:hover {
  background-color: white;
  color: black;
  border: 2px solid black; 
  border-radius: 4px;
  padding: 10px 39px;
  margin-bottom:5px;

}



/* [Fin Preguntas] ============================================= */
.timer{
  padding-bottom: 150px;


}
.texto{
  font-family: monospace;
  font-style: italic;
  font-size: 2em;
  color:white;

}
.txtRespuestas{
  font-style: normal;
  font-size: 2em;
  color:black;
  font-size: 1.2em; 
  font-weight: bold;

}

.contador{
  font-size: 80px;
  font-style: normal;
  font-family: monospace;
  color: white;
  position: absolute;
  left: calc(50% - 22px);
  top: 200px;
}
.imgCrono{
  width: 60px;
  height: 60px;

}
.textoCrono{
  font-family: monospace;
  font-style: italic;
  font-size: 50px;
  color:black;
  position: absolute;

  top: 400px;

}
/* Animacion de temporizador */
.wrapper {
  width: 100px; 
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: 200px;
  
  clip: rect(0px, 100px, 100px, 50px); 
}

.circle {
  width: 80px;
  height: 80px;
  border: 10px solid green;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);

}

div[data-anim~=base] {
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-timing-function:linear; 
}

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; 
  -webkit-animation-delay: 1.5s; /* mitad del tiempo total */
  -webkit-animation-name: close-wrapper; 
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 3s; /* tiempo total */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 1.5s;  /* mitad del tiempo total */
  -webkit-animation-name: right-spin;
}

@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}