/*[Ranking de usuarios] ============================================================*/
:root{
  --img-dimension:60px;
}

.usuarios_ranking{
  margin: 20px 120px .7px 120px;
  background-color: rgba(66, 160, 255, 1);
  color: white;
  padding: 20px 20px 10px 20px;
  border: 1px solid white;
  border-radius:15px;;

  min-height: 100vh;
  box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
  
}

.usuarios_ranking.inicio {
  border-top: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top:70px;
}

.usuarios_ranking .titulo{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
  margin:5px 0;
}

.usuarios_ranking .usuario{
  background-color: white;
  color:black;
  margin-bottom: 10px;
  padding: 2px 8px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  display: block;
  -webkit-box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);

  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}


.usuarios_ranking .usuario:hover{
  background-color: #e6e6e6;
}


.usuarios_ranking :nth-child(1){
  background-color: #EDAF3A;
}

.usuarios_ranking :nth-child(1):hover{
  background-color: #e99f16;
}

.usuarios_ranking :nth-child(2){
  background-color: #C6C6C6;
}

.usuarios_ranking :nth-child(2):hover{
  background-color: #b3b3b3;
}

.usuarios_ranking :nth-child(3){
  background-color: #C37D55;
}

.usuarios_ranking :nth-child(3):hover{
  background-color: #aa643c;
}

.usuarios_ranking :nth-child(4){
  background-color: #AA64D7;
}

.usuarios_ranking :nth-child(4):hover{
  background-color: #9855C3;
}

.usuarios_ranking :nth-child(5){
  background-color: #5EC490;
}

.usuarios_ranking :nth-child(5):hover{
  background-color: #4DB27F;
}

.usuarios_ranking :nth-child(6){
  background-color: #F74444;
}

.usuarios_ranking :nth-child(6):hover{
  background-color: #DF3535;
}

.usuarios_ranking :nth-child(7){
  background-color: #41EA25;
}

.usuarios_ranking :nth-child(7):hover{
  background-color: #3DD324;
}

.usuarios_ranking :nth-child(8){
  background-color: #FE66EE;
}

.usuarios_ranking :nth-child(8):hover{
  background-color: #F84CE6;
}
.usuarios_ranking .usuario img{
  width:var(--img-dimension);
  height: var(--img-dimension);
  border-radius: 100%;
  border-top: 1px solid rgba(255,255,255,.3);
  border-left: 1px solid rgba(255,255,255,.3);
  box-shadow: 2px 2px rgba(0,0,0,.3);
}

.usuarios_ranking .usuario .nombre{
  font-weight: bold;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(var(--img-dimension) + 20px);
  border-radius: 5px;
  padding:5px;
  /*border-top: 1px solid rgba(0,0,0,.4);
  border-left: 1px solid rgba(0,0,0,.4);
  box-shadow: 2px 2px rgba(0,0,0,.4);*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(256,256,256,.7);
}

.usuarios_ranking .usuario .puntaje{
  position: absolute;
  top:calc(50% - 20px);
  right:10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px;
  /*border-top: 1px solid rgba(0,0,0,.4);
  border-left: 1px solid rgba(0,0,0,.4);
  box-shadow: 2px 2px rgba(0,0,0,.4);*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(256,256,256,.7);
  text-shadow: 0 0 .5px blue;
}
.retar{
  position: absolute;
  top:calc(50% - 20px);
  right:150px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(256,256,256,.7);
  text-shadow: 0 0 .5px blue;
}
.usuarios_ranking .cargando{
  background-color: white;
  color:black;
  margin-bottom: 10px;
  padding: 10px 8px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  text-align: center;
  color:grey;
  font-size: 14px;
  font-family: Helvetica;
  /*box-shadow: 3px 3px #9f9494;*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.usuariosDuelo .cargando{
  background-color: white;
  color:black;
  margin-bottom: 10px;
  padding: 10px 8px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  text-align: center;
  color:grey;
  font-size: 14px;
  font-family: Helvetica;
  /*box-shadow: 3px 3px #9f9494;*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.usuarios_ranking .cargando:hover{
  background-color:white;
}

@media screen and (max-width: 800px) {
  .usuarios_ranking{
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .usuarios_ranking{
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .usuarios_ranking{
    width: 300px;
  }
}