/*[Ranking de usuarios] ============================================================*/
:root{
  --img-dimension:60px;
}

.usuarios_ranking{
  box-sizing: border-box;
  margin: 20px 120px .7px 120px;
  background-color: rgba(66, 160, 255, 1);
  color: white;
  padding: 20px 20px 10px 20px;
  border: 1px solid white;
  border-radius:15px;
  min-height: 100vh;
  box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
}

@media screen and (max-width: 660px) {
  .usuarios_ranking {
    padding: 15px 8px 15px 5px !important;
    margin: 0 !important;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
    box-shadow: none;
    border-radius: 0 !important;
    border: none !important;
  }

  .usuarios_ranking.inicio {
    padding-left: 5px;
    padding-right: 8px;
    margin-top: 35px !important;
    border-radius: 0 !important;
    border: none !important;
  }

  .usuarios_ranking .usuario .nombre {
    margin: 0px !important;
    margin-left: -15px !important;
  }

  .usuarios_ranking .usuario .puntaje {
    width: 55px;
    margin-top: 5px;
    margin-right: -5px;
    font-size: 14px !important;
  }

  .usuarios_ranking .usuario img {
    width: 40px !important;
    height: 40px !important;
    margin-right: 0px;
  }


  .usuarios_ranking .usuario .medalla{
    right: 80px !important;
  }

}

  .usuarios_ranking .usuario .medalla{
    position: absolute;
    right: 100px;
    background-color:rgba(0,0,0,.06);
  }

.usuarios_ranking.inicio {
  border-top: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top:70px;
}

.usuarios_ranking .titulo{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
  margin:5px 0;
}

.usuarios_ranking .usuario{
  background-color: white;
  color:black;
  margin-bottom: 10px;
  padding: 2px 8px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  display: block;
  box-shadow: 8px 8px 3px 0px rgba(0,0,0,0.75);
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.usuarios_ranking font{
  background: none !important;
}

.usuarios_ranking .usuario:hover{
  background-color: #e6e6e6;
}

.usuarios_ranking .usuario img{
  width:var(--img-dimension);
  height: var(--img-dimension);
  border-radius: 100%;
  border-top: 1px solid rgba(255,255,255,.3);
  border-left: 1px solid rgba(255,255,255,.3);
  box-shadow: 2px 2px rgba(0,0,0,.3);
}

.usuarios_ranking .usuario .nombre{
  font-weight: bold;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(var(--img-dimension) + 20px);
  border-radius: 5px;
  padding:5px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  background-color:rgba(0,0,0,.06);
}

.usuarios_ranking .usuario .puntaje{
  position: absolute;
  top:calc(50% - 20px);
  right:10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding:5px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  background-color:rgba(0,0,0,.06);
  text-shadow: 0 0 .5px blue;
}


.usuariosDuelo .cargando{
  background-color: white;
  color:black;
  margin-bottom: 10px;
  padding: 10px 8px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  text-align: center;
  color:grey;
  font-size: 14px;
  font-family: Helvetica;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.usuarios_ranking .cargando:hover{
  background-color:white;
}

@media screen and (max-width: 800px) {
  .usuarios_ranking{
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .usuarios_ranking{
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .usuarios_ranking{
    width: 300px;
  }
}

.usuarios_ranking .SinSuscripcion{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.usuarios_ranking .SinSuscripcion p{
  font-size: 1.2em;
  color:black;
  background-color: white;
}


.usuarios_ranking .SinSuscripcion:hover{
  background-color: white;
}

.usuarios_ranking .SinSuscripcion p:hover{
  background-color: white;
}

.usuarios_ranking .SinSuscripcion button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color:white;
  background-color: rgb(19, 123, 9);
  display: inline-block;
  margin-top:10px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.usuarios_ranking .SinSuscripcion button:disabled{
  background-color: rgb(47, 93, 42);
}

.usuarios_ranking .SinSuscripcion button:hover{
  background-color: rgb(19, 123, 9);
}