/*[Registrar usuario formulario] ===============================================*/
.registrar_usuario_form{
  padding: 10px 20px;
  background-color: rgba(0,0,0,.7);
  color:white;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 5px;
  margin: 75px auto;
  width: 30%;
  text-align: right;
  margin-top: 100px;
}

@media only screen and (max-width: 900px) {
  .registrar_usuario_form {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .registrar_usuario_form {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .registrar_usuario_form {
    width: 80%;
  }
}

.registrar_usuario_form h2{
  text-align: left;
}

.registrar_usuario_form *{
  border-radius: 5px;
}

.registrar_usuario_form label{
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  display: inline-block;
  text-align: left;
  color: rgba(255,255,255,.8)
}

.registrar_usuario_form input{
  width: calc(100% - 10px);
  margin-bottom:5px;
  border: none;
  padding: 7px 3px;
  background-color: white;
  /*box-shadow: 3px 3px #9f9494;*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom:8px;
}

.registrar_usuario_form button{
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color:white;
  background-color: rgb(15, 112, 80);
  width: 100px;
  display: inline-block;
  margin-top:10px;
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.registrar_usuario_form button:hover{
 background-color: rgb(7, 96, 67);
}

.registrar_usuario_form .error{
  color:red;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  background-color: white;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  /*box-shadow: 3px 3px #9f9494*/
  border-bottom: 2px solid  rgba(0,0,0,.3);
  border-right: 2px solid rgba(0,0,0,.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}
/*[FIN Registrar usuario formulario] ===============================================*/